@use 'mixin';
@use 'variables';
@use 'extend' as *;

.no--margin {
	@include mixin.margin(0 !important);
}

.no--padding {
	@include mixin.padding(0 !important);
}

.no--border {
	border: 0;
}

.no--border-radius {
	@include mixin.borderRadius(0 !important);
}

.m--0-auto {
	@include mixin.margin(0 auto !important);
}

.width--auto {
	@include mixin.width(auto !important);
}

.width--full {
	@include mixin.width(100% !important);
}

.width--half {
	@include mixin.width(50% !important);
}

.width--40-per {
	@include mixin.width(40% !important);
}

.width--90-per {
	@include mixin.width(90% !important);
}

.width--20-px {
	@include mixin.width(20px !important);
}
.width--15-per {
	@include mixin.width(15% !important);
}
.width--19-per {
	@include mixin.width(19% !important);
}

.width--20-per {
	@include mixin.width(20% !important);
}

.width--25-per {
	@include mixin.width(25% !important);
}

.width--30-px {
	@include mixin.width(30px !important);
}

.width--35-px {
	@include mixin.width(35px !important);
}

.width--40-px {
	@include mixin.width(40px !important);
}

.width--50-px {
	@include mixin.width(50px !important);
}

.width--75-px {
	@include mixin.width(75px !important);
}

.width--100-px {
	@include mixin.width(100px !important);
}

.max-width--350 {
	@include mixin.max-width(350px !important);
	@include mixin.width(100% !important);
}
.max-width--160 {
	@include mixin.max-width(160px !important);
}
.max-width--90 {
	@include mixin.max-width(90px !important);
}

.height--full {
	@include mixin.height(100% !important);
}

.height--20-px {
	@include mixin.height(20px !important);
}

.height--30-px {
	@include mixin.height(30px !important);
}

.height--35-px {
	@include mixin.height(35px !important);
}

.height--40-px {
	@include mixin.height(40px !important);
}

.height--50-px {
	@include mixin.height(50px !important);
}
.height--100-px {
	@include mixin.height(100px !important);
}
.height--200-px {
	@include mixin.height(200px !important);
}

.min-height--inherit {
	@include mixin.min-height(inherit);
}

.box-size--border-box {
	@extend %box-sizing--border-box;
}

.d-none {
	@extend %d--none;
}

.d-block {
	@extend %d--block;
}

.padding--2--3 {
	@include mixin.padding(0.25rem 0.3rem);
}

.padding--0--15 {
	@include mixin.padding(0px 15px);
}

.p--5 {
	@include mixin.padding(5px);
}

.p--10 {
	@include mixin.padding(10px);
}

.p--25 {
	@include mixin.padding(25px);
}

.pb--0 {
	@include mixin.paddingBottom(0px !important);
}

.pb--5 {
	@include mixin.paddingBottom(5px !important);
}

.pb--10 {
	@include mixin.paddingBottom(10px !important);
}

.pb--20 {
	@include mixin.paddingBottom(20px);
}

.pl--0 {
	@include mixin.paddingLeft(0 !important);
}

.pl--5 {
	@include mixin.paddingLeft(5px !important);
}

.pl--10 {
	@include mixin.paddingLeft(10px !important);
}

.pl--15 {
	@include mixin.paddingLeft(15px !important);
}

.pl--20 {
	@include mixin.paddingLeft(20px);
}

.pl--25 {
	@include mixin.paddingLeft(25px);
}

.pr--0 {
	@include mixin.paddingRight(0 !important);
}

.pr--5 {
	@include mixin.paddingRight(5px);
}
.pr--10 {
	@include mixin.paddingRight(10px);
}

.pr--20 {
	@include mixin.paddingRight(20px);
}

.pr--25 {
	@include mixin.paddingRight(25px);
}

.pl--15 {
	@include mixin.paddingLeft(15px);
}

.pl--30 {
	@include mixin.paddingLeft(30px);
}

.pr--15 {
	@include mixin.paddingRight(15px);
}

.pr--10 {
	@include mixin.paddingRight(10px);
}

.pr--30 {
	@include mixin.paddingRight(30px);
}

.pt--0 {
	@include mixin.paddingTop(0px !important);
}
.pt--3 {
	@include mixin.paddingTop(3px !important);
}
.pt--12 {
	@include mixin.paddingTop(12px !important);
}
.pt--15 {
	@include mixin.paddingTop(15px !important);
}

.pt--20 {
	@include mixin.paddingTop(20px);
}

.pb--15 {
	@include mixin.paddingBottom(15px !important);
}

.pb--20 {
	@include mixin.paddingBottom(20px);
}

.pb--25 {
	@include mixin.paddingBottom(25px);
}

.pt--30 {
	@include mixin.paddingTop(30px);
}

.pb--30 {
	@include mixin.paddingBottom(30px);
}

.mt--0 {
	@include mixin.marginTop(0 !important);
}

.mt--3 {
	@include mixin.marginTop(3px !important);
}

.mt--5 {
	@include mixin.marginTop(5px !important);
}

.mt--10 {
	@include mixin.marginTop(10px);
}

.mt--15 {
	@include mixin.marginTop(15px !important);
}

.mt--20 {
	@include mixin.marginTop(20px !important);
}

.mt--25 {
	@include mixin.marginTop(25px !important);
}

.mt--28 {
	@include mixin.marginTop(28px !important);
}

.mt--30 {
	@include mixin.marginTop(30px !important);
}

.mt--35 {
	@include mixin.marginTop(35px !important);
}

.mt--40 {
	@include mixin.marginTop(40px !important);
}

.mt--50 {
	@include mixin.marginTop(50px !important);
}

.mt--60 {
	@include mixin.marginTop(60px !important);
}

.mt--180 {
	@include mixin.marginTop(180px !important);
}

.ml--5 {
	@include mixin.marginLeft(5px);
}

.ml--10 {
	@include mixin.marginLeft(10px);
}

.ml--15 {
	@include mixin.marginLeft(15px);
}

.ml--20 {
	@include mixin.marginLeft(20px);
}

.ml--25 {
	@include mixin.marginLeft(25px);
}

.ml--30 {
	@include mixin.marginLeft(30px);
}

.ml--35 {
	@include mixin.marginLeft(35px);
}

.mr--0 {
	@include mixin.marginRight(0 !important);
}

.mr--5 {
	@include mixin.marginRight(5px);
}

.mr--15 {
	@include mixin.marginRight(15px !important);
}

.mr--35 {
	@include mixin.marginRight(35px);
}

.mr--10 {
	@include mixin.marginRight(10px);
}

.mr--20 {
	@include mixin.marginRight(20px !important);
}

.mr--30 {
	@include mixin.marginRight(30px);
}

.mr--40 {
	@include mixin.marginRight(40px);
}

.mr--50 {
	@include mixin.marginRight(50px);
}

.mr--60 {
	@include mixin.marginRight(60px);
}

.mb--0 {
	@include mixin.marginBottom(0 !important);
}

.mb--5 {
	@include mixin.marginBottom(5px);
}

.mb--10 {
	@include mixin.marginBottom(10px !important);
}

.mb--15 {
	@include mixin.marginBottom(15px !important);
}

.mb--20 {
	@include mixin.marginBottom(20px !important);
}

.mb--25 {
	@include mixin.marginBottom(25px !important);
}

.mb--30 {
	@include mixin.marginBottom(30px !important);
}

.mb--40 {
	@include mixin.marginBottom(40px !important);
}

.mb--50 {
	@include mixin.marginBottom(50px !important);
}

.d--inline-block {
	@extend %d--inline-block;
}

.flex {
	@extend %flex;
}

.flex--column {
	@extend %flex--column;
}

.flex--column-reverse {
	@extend %flex--column-reverse;
}

.flex--row {
	@extend %flex--row;
}

.flex--row-reverse {
	@extend %flex--row-reverse;
}

.flex--wrap {
	@extend %flex--wrap;
}

.justify__content--center {
	@extend %justify__content--center;
}

.justify__content--end {
	@extend %justify__content--end;
}

.justify__content--start {
	@extend %justify__content--start;
}

.justify__content--between {
	@extend %justify__content--between;
}

.justify__content--around {
	@extend %justify__content--around;
}

.justify__content--evenly {
	@extend %justify__content--evenly;
}

.align__items--center {
	@extend %align__items--center;
}

.align__items--end {
	@extend %align__items--end;
}

.align__items--start {
	@extend %align__items--start;
}

.align__items--baseline {
	@extend %align__items--baseline;
}

.align__content--baseline {
	align-content: baseline;
}

.object__fit--cover {
	@extend %object__fit--cover;
}

.object__fit--contain {
	@extend %object__fit--contain;
}

.text--left {
	@include mixin.textAlign(left !important);
}

.text--right {
	@include mixin.textAlign(right !important);
}

.text--center {
	@include mixin.textAlign(center !important);
}

.line-height--default {
	@include mixin.lineHeight(1);
}

.line-height--13px {
	@include mixin.lineHeight(13px !important);
}

.line-height--15px {
	@include mixin.lineHeight(15px !important);
}

.line-height--17px {
	@include mixin.lineHeight(17px !important);
}

.line-height--18px {
	@include mixin.lineHeight(18px !important);
}
.line-height--19px {
	@include mixin.lineHeight(19px !important);
}

.line-height--20px {
	@include mixin.lineHeight(20px !important);
}

.line-height--21px {
	@include mixin.lineHeight(21px !important);
}

.line-height--22px {
	@include mixin.lineHeight(22px !important);
}

.line-height--24px {
	@include mixin.lineHeight(24px !important);
}

.line-height--25px {
	@include mixin.lineHeight(25px !important);
}

.line-height--26px {
	@include mixin.lineHeight(26px !important);
}

.line-height--27px {
	@include mixin.lineHeight(27px !important);
}

.line-height--28px {
	@include mixin.lineHeight(28px !important);
}

.line-height--33px {
	@include mixin.lineHeight(33px !important);
}

.line-height--45px {
	@include mixin.lineHeight(45px !important);
}

.font-size--9 {
	font-size: 0.5625rem;
}

.font-size--10 {
	font-size: 0.625rem !important;
}

.font-size--11 {
	font-size: 0.6875rem !important;
}
.font-size--14px {
	font-size: variables.$font-size-sm;
}
.font-size--13 {
	font-size: variables.$font-size-xs;
}
.font-size--16px {
	font-size: variables.$font-size-browser-default;
}
.font-size--xs {
	font-size: variables.$font-size-xs;
}

.font-size--sm {
	font-size: variables.$font-size-sm !important;
}

.font-size--18 {
	font-size: variables.$font-size-md;
}

.font-size--19 {
	font-size: 1.1875rem;
}

.font-size--20 {
	font-size: 1.25rem;
}

.font-size--23 {
	font-size: 1.4375rem;
}
.font-size--24 {
	font-size: 1.55rem;
}
.font-size--28 {
	font-size: 1.75rem;
}

.font-size--30 {
	font-size: 1.875rem;
}

.font-size--42 {
	font-size: 2.625rem;
}
.font-size--48 {
	font-size: 3rem;
}
.text--uppercase {
	@include mixin.textTransform(uppercase);
}

.text--capitalize {
	@include mixin.textTransform(capitalize);
}
.text--lowercase {
	@include mixin.textTransform(lowercase);
}

.text-decoration--underline {
	@include mixin.textDecoration(underline);
}

.text-decoration--none {
	@include mixin.textDecoration(none);
}

.text--white {
	color: variables.$white-color;
}

.text--blue {
	color: variables.$blue-light;
}

.text--black {
	color: variables.$black-color;
}
.b-radius--10 {
	@include mixin.borderRadius(10px !important);
}

.b-radius--15 {
	@include mixin.borderRadius(15px !important);
}

.b-radius--20 {
	@include mixin.borderRadius(20px !important);
}
.b-radius--25 {
	@include mixin.borderRadius(25px !important);
}
.b-radius--30 {
	@include mixin.borderRadius(30px !important);
}
.b-radius--40 {
	@include mixin.borderRadius(40px !important);
}
.b-radius--50 {
	@include mixin.borderRadius(50px !important);
}

.position--absolute {
	@include mixin.position(absolute !important);
}

.position--relative {
	@include mixin.position(relative !important);
}

.z-index--1 {
	@include mixin.zIndex(1 !important);
}

.z-index--3 {
	@include mixin.zIndex(3 !important);
}

.overflow--hidden {
	@include mixin.overflow(hidden !important);
}

.overflow--auto {
	@include mixin.overflow(auto !important);
}

.d--inline-flex {
	@extend %d--inline-flex;
}

.no--margin {
	@include mixin.margin(0 !important);
}

.font-weight--700 {
	font-weight: variables.$font-bold;
}

.font-weight--500 {
	font-weight: variables.$font-medium;
}
.font-weight--600 {
	font-weight: variables.$font-large;
}

.font-weight--400 {
	font-weight: variables.$font-regular;
}
.font-family--medium {
	font-family: 'Inter-medium';
}
.font-family--semi-bold {
	font-family: 'Inter-semiBold';
}
.font-family--bold {
	font-family: 'Inter-bold';
}

.text-align--center {
	@include mixin.textAlign(center);
}

.cursor--pointer {
	cursor: pointer;
}

.b--none {
	border: none;
}

.bg--transparent {
	background-color: variables.$background-color-transparent;
}
.error {
	color: variables.$error-red;
}
